/*字体大小*/
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 413px) {
  body {
    font-size: 16px;
  }
  .amount {
    margin-left: 10px;
  }
}
@media screen and (min-width: 414px) and (max-width: 639px) {
  body {
    font-size: 17px;
  }
  .amount {
    margin-left: 14px;
  }
}
@media screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft yahei", Helvetica, Arial, sans-serif;
}
h4,
h5,
h6 {
  margin: 0;
}
.list-inline {
  margin-left: 0;
}
.list-inline > li {
  padding: 0;
}
ul {
  margin-bottom: 0;
}
label {
  margin-bottom: 0;
}
.unselect {
  display: inline-block;
  background: url(../img/unselect.png) no-repeat left center;
  width: 0.4rem;
  height: 0.58rem;
  background-size: 0.4rem 0.4rem;
}
.sexSelected {
  background-image: url(../img/select.png);
  color: #13b7f6;
}
.mainContainer {
  margin-bottom: 1.08rem;
}
/**********重构mobiscroll的样式************************/
.mbsc-mobiscroll .dwwr {
  background-color: transparent;
}
.dwsc .dw-sel {
  background: url(../img/date.png) no-repeat left center;
  width: 40px;
  height: 40px;
  background-size: 50% 50%;
  padding-left: 20px;
}
.dwsc:last-child .dw-sel {
  background-image: url(../img/time.png);
}
.dw-bf {
  position: relative;
}
.mbsc-w-p {
  width: 150px;
}
.dw-i {
  width: 80px;
  color: #baecff;
  font-size: 0.3rem;
}
.dw-li {
  padding-left: 20px;
}
.mbsc-mobiscroll .dwwol {
  border-color: #b7ebfe;
  width: 80px;
  margin-left: 23px;
}
.dw-sel .dw-i,
.mbsc-mobiscroll .dwl {
  color: #fff;
  font-size: 0.3rem;
}
.mbsc-mobiscroll .dwl {
  font-size: 0.22rem;
  width: 1.6rem;
  margin-left: 0.4rem;
}
#footer {
  height: 1rem;
  padding: 0.08rem 0.2rem 0;
  background-color: #fff;
}
#footer dl {
  display: inline-block;
  color: #848788;
}
#footer dl dt {
  width: 0.48rem;
  height: 0.48rem;
  position: relative;
}
#footer dl dd {
  font-size: 10px;
  margin-top: .08rem;
}
#footer .turnActive {
  color: #13b7f6;
}
#footer .project,
#footer .projectSelect,
#footer .cart,
#footer .cartSelect,
#footer .myorder,
#footer .myorderSelect,
#footer .activity,
#footer .activitySelect {
  margin: 0 auto;
  background-image: url(../img/project-icon.png);
  background-size: 0.48rem 0.48rem;
}
#footer .project.active {
  background-image: url(../img/project-select-icon.png);
}
#footer .project.active + dd {
  color: #13b7f6;
}
#footer .cart {
  background-image: url(../img/cart.png);
}
#footer .myorder {
  background-image: url(../img/myorder-icon.png);
}
#footer .activity {
  background-image: url(../img/activity-icon.png);
}
#footer .cart.active {
  background-image: url(../img/cart-select-icon.png);
}
#footer .cart.active + dd {
  color: #13b7f6;
}
#footer .myorder.active {
  background-image: url(../img/myorder-select-icon.png);
}
#footer .myorder.active + dd {
  color: #13b7f6;
}
#footer .activitySelect {
  background-image: url(../img/activity-select-icon.png);
}
#footer .redDot {
  display: inline-block;
  background: url(../img/dot.png) no-repeat;
  width: 0.14rem;
  height: 0.14rem;
  background-size: 0.14rem 0.14rem;
  position: absolute;
  top: 0;
  right: -10px;
}
.navbar-default {
  border-color: #A2C4D9;
}
/*****************header******************/
#header {
  border-bottom: 1px solid #d2d2d2;
  padding: 0.14rem 0.26rem;
  background-color: #fff;
}
#header .addr {
  display: inline-block;
  background: url(../img/addr-icon.png) no-repeat left 0.1rem;
  width: auto;
  height: 0.4rem;
  background-size: 0.26rem 0.28rem;
  padding-left: 0.48rem;
  margin-left: 1.6rem;
}
#header .usercenter {
  display: inline-block;
  background: url(../img/user.png);
  width: 0.46rem;
  height: 0.44rem;
  background-size: 0.46rem 0.44rem;
  float: left;
  visibility: hidden;
}
#header .city {
  color: #13b7f6;
  float: right;
}
/*************项目****************/
.pImg {
  width: 1.21rem;
  height: 1.21rem;
}
#main > .list-inline {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
}
#main > .list-inline > li:first-child {
  padding: 0.2rem 0.36rem 0 0.26rem;
}
#main > .list-inline > li:last-child {
  overflow: hidden;
  flex: auto;
}
#main > .list-inline > li:last-child dl {
  border-bottom: 1px solid #d2d2d2;
  padding: 0.2rem 0.26rem 0 0;
  margin-bottom: 0;
  position: relative;
}
#main > .list-inline > li:last-child dl dt {
  line-height: 30px;
  font-weight: normal;
  font-size: 0.28rem;
}
#main > .list-inline > li:last-child dl dt span {
  font-size: 0.24rem;
}
#main > .list-inline > li:last-child dl dd {
  font-size: 0.26rem;
  margin-bottom: 10px;
}
#main > .list-inline > li:last-child dl .act {
  font-size: 0.22rem;
  width: 3.06rem;
  color: #afafaf;
  display: flex;
}
#main > .list-inline > li:last-child dl .act span {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
#main > .list-inline > li:last-child dl .act img {
  width: 0.34rem;
  height: 0.34rem;
  vertical-align: middle;
  display: block;
  margin-right: 0.16rem;
}
#main .list-inline {
  margin-left: 0;
  display: inline-flex;
}
#main .list-inline li {
  padding: 0;
  vertical-align: top;
}
#main .actNums {
  color: #afafaf;
  font-size: 0.22rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.26rem;
}
#main .actDown,
#main .actUp {
  display: inline-block;
  background: url(../img/ARROW---DOWN.png) no-repeat;
  width: 0.18rem;
  height: 0.1rem;
  background-size: 0.18rem 0.1rem;
}
#main .actUp {
  background-image: url(../img/ARROW---UP.png);
}
#main .showPrice {
  padding: 0.2rem 0.26rem 0.2rem 0;
}
#main .showPrice s {
  display: inline-block;
  margin-right: 0.2rem;
}
#main .showPrice s,
#main .showPrice i {
  font-size: 0.24rem;
  color: #9d9d9d;
}
#main .showPrice i {
  color: #13b7f6;
  font-style: normal;
}
#main .showPrice span {
  font-size: 0.2rem;
}
#main .showPrice b {
  font-size: 0.34rem;
  color: #ff5230;
}
#main .showPrice .btn {
  float: right;
  height: 0.54rem;
  line-height: 0.27rem;
  font-size: 0.26rem;
  color: #fff;
  background-color: #ff5230;
  border: none;
  width: 1.78rem;
}
#main .showPrice .haveAdd {
  background-color: #aeaeae;
  cursor: not-allowed;
}
/***********购物车******************/
#myCart h4 {
  font-size: 0.3rem;
  background-color: #fff;
  padding: 0.2rem 0;
  margin: 0;
}
#myCart #addrMsg {
  margin-top: 0.21rem;
  background-color: #fff;
  height: 3.05rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.46rem 0.22rem;
  position: relative;
}
#myCart #addrMsg ul {
  display: flex;
  font-size: 0.28rem;
  width: 5.18rem;
  margin-bottom: 0.1rem;
}
#myCart #addrMsg ul:last-child {
  margin-bottom: 0;
}
#myCart #addrMsg ul li:first-child {
  width: 1.4rem;
}
#myCart #addrMsg ul li li + li {
  flex: auto;
}
#myCart #addrMsg .next {
  position: absolute;
  right: 0.26rem;
  top: 1.2rem;
  display: inline-block;
  background: url(../img/next-blue.png) no-repeat;
  font-weight: normal;
  width: 0.16rem;
  height: 0.28rem;
  background-size: 0.16rem 0.28rem;
  float: right;
  margin-top: 0.1rem;
}
#myCart #addrMsg p {
  font-size: 0.28rem;
  color: #b2b3b4;
  margin: 0.8rem 0.27rem;
}
#myCart dl {
  margin-top: 1.29rem;
}
#myCart dl dt {
  margin-bottom: 0.32rem;
}
#myCart dl dd {
  color: #b2b3b4;
}
#myCart dl dd a {
  color: #13b7f6;
}
#myCart .fwjssex {
  margin: 0.2rem 0;
  font-size: 0.2rem;
  color: #484b4e;
  padding-left: 0.25rem;
}
#myCart .fwjssex span {
  opacity: 0.7;
}
#myCart .chooseMsg {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#myCart .chooseMsg .jishiSex {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0.16rem 0.25rem;
  position: relative;
  overflow: hidden;
}
#myCart .chooseMsg .jishiSex label:first-child {
  float: left;
}
#myCart .chooseMsg .jishiSex label:nth-child(2) {
  position: absolute;
  margin: 0 auto;
  top: 0.16rem;
  left: 0;
  bottom: 0;
  right: 0;
}
#myCart .chooseMsg .jishiSex label:last-child {
  float: right;
}
#myCart .chooseMsg .sexCheck {
  background-image: url(../img/select.png);
  color: #13b7f6;
}
#myCart .chooseMsg h5 {
  font-size: 0.24rem;
  margin: 0.29rem 0;
  text-align: center;
}
#myCart .chooseMsg .clearCart {
  display: block;
  background: url(../img/clear.png) left 0.2rem no-repeat;
  width: 1.74rem;
  height: 0.57rem;
  background-size: 0.37rem 0.37rem;
  padding-left: 0.16rem;
  vertical-align: middle;
  float: right;
  color: #354251;
}
#myCart .chooseMsg .chooseProject {
  font-size: 0.3rem;
}
#myCart .chooseMsg .table {
  margin-bottom: 0;
}
#myCart .chooseMsg table tr,
#myCart .chooseMsg table td {
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.25rem;
}
#myCart .chooseMsg table tr:first-child td {
  font-size: 0.24rem;
  color: #354251;
  opacity: 0.7;
}
#myCart .chooseMsg table tr:last-child td {
  font-size: 0.26rem;
}
#myCart .chooseMsg table #pay {
  height: 0.8rem;
  background-color: #ff5230;
  border: none;
  color: #fff;
  width: 1.91rem;
  margin-right: -0.24rem;
  font-size: 0.32rem;
}
#new .next {
  display: inline-block;
  background: url(../img/next-blue.png) no-repeat;
  font-weight: normal;
  width: 0.16rem;
  height: 0.28rem;
  background-size: 0.16rem 0.28rem;
  float: right;
  margin-top: 0.1rem;
}
/************booking******************/
#booking .input-group {
  height: 0.88rem;
  line-height: 0.44rem;
}
#booking .input-group-addon {
  border: none;
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#booking .form-control {
  height: 0.88rem;
  border: none;
  background-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 0.26rem;
}
#booking .input-group-addon,
#booking input::-webkit-input-placeholder {
  font-size: 0.26rem;
}
#booking #headTitle {
  background: linear-gradient(top, #13b7f6, #83ddff);
  background: -webkit-linear-gradient(top, #13b7f6, #83ddff);
  background: -moz-linear-gradient(top, #13b7f6, #83ddff);
}
#booking #headTitle h5 {
  color: #fff;
  padding: 0.2rem 0;
}
#booking #headTitle #head {
  background-color: transparent;
  color: #fff;
}
#booking #headTitle .return {
  position: absolute;
  left: 0.3rem;
  width: 1.2rem;
  height: 0.36rem;
  background: url(../img/return-white.png) no-repeat;
  background-size: contain;
  color: #fff;
}
#booking .address {
  background-color: #fff;
  font-size: 0.26rem;
}
#booking .address #serviceAddr {
  color: #13b7f6;
  vertical-align: middle;
}
#booking p {
  margin: 0.2rem 0 0.2rem 0;
  padding: 0 0.26rem;
}
#booking .userMsg {
  background-color: #fff;
  border-top: 1px solid #d6dfe3;
}
#booking .userMsg .input-group {
  border-bottom: 1px solid #d6dfe3;
}
#booking .userMsg .input-group:nth-child(2) {
  padding: 0.2rem 0.08rem 0.2rem 0;
}
#booking .userMsg .input-group:nth-child(2) span {
  padding-right: 1.6rem;
}
#booking .userMsg .input-group:nth-child(2) label:last-child {
  float: right;
}
#booking .read {
  font-size: 0.24rem;
  background-color: #fff;
  margin-top: 0.25rem;
  height: 0.88rem;
  line-height: 0.88rem;
  border-top: 1px solid #d6dfe3;
  border-bottom: 1px solid #d6dfe3;
}
#booking .read a {
  color: #13b7f6;
}
#booking .read .sexCheck {
  width: 0.46rem;
}
#booking .btn {
  width: 6.52rem;
  height: 0.82rem;
  margin: 0.3rem auto;
  display: block;
  border: 2px solid #13b7f6;
  background-color: transparent;
  color: #13b7f6;
  margin-top: 0.92rem;
}
#booking .btn-disabled {
  border: 2px solid #ddd;
  color: #ddd;
}
#booking #getsmscode {
  display: inline-block;
  border: 1px solid #13b7f6;
  color: #13b7f6;
  border-radius: 0.1rem;
  padding: 0.18rem 0.25rem;
}
#booking #smscode {
  height: 0.98rem;
}
label {
  background: url(../img/unselect-gray.png) no-repeat;
  width: 1.44rem;
  height: 0.46rem;
  background-size: 0.46rem 0.46rem;
  display: inline-block;
  padding-left: 0.56rem;
  padding-top: 0.06rem;
  font-weight: normal;
  font-size: 0.26rem;
  text-align: center;
  vertical-align: middle;
}
input[type='radio'] {
  display: none;
}
/************登录查看订单************************/
.login h4 {
  font-size: 0.3rem;
  background-color: #fff;
  padding: 0.2rem 0;
  margin: 0;
}
.login p {
  height: 0.81rem;
  background-color: #ff2d55;
  line-height: 0.81rem;
  color: #fff;
  margin-bottom: 0;
}
.login .input-group {
  height: 1.2rem;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 1px solid #A2C4D9;
}
.login .input-group .btn {
  border-color: #13b7f6;
  color: #13b7f6;
}
.login .form-control {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 1.2rem;
}
.login .input-group-addon {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.login #getsmscode {
  border: 1px solid #13b7f6;
  border-radius: 0.1rem;
  color: #13b7f6;
  padding: 0.18rem 0.25rem;
}
.login #login {
  border-color: #13b7f6;
  color: #13b7f6;
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 0.8rem;
  line-height: 0.4rem;
}
.login .code-bg {
  background: url(../img/code_bg.jpg);
}
#myOrder .attention {
  margin: 0.46rem 0;
  line-height: 0.6rem;
  color: #848788;
}
/************我的订单******************/
.orderHeader {
  padding: 0.12rem 0;
  border-bottom: 1px solid #f4f8f8;
  background-color: #fff;
}
.orderHeader .btn {
  width: 2.22rem;
  margin-right: -5px;
  border-color: #13b7f6;
  color: #13b7f6;
}
.orderHeader .btn:first-child {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.orderHeader .btn:last-child {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.orderHeader .orderActive {
  background-color: #13b7f6;
  color: #fff;
}
#myOrder h4 {
  font-size: 0.3rem;
  background-color: #fff;
  padding: 0.2rem 0;
  margin: 0;
}
#myOrder #orderLists .anorder {
  height: 2.81rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.11rem;
  position: relative;
  display: flex;
}
#myOrder #orderLists .anorder li {
  flex: auto;
}
#myOrder #orderLists .anorder .pp {
  padding: 0.31rem 0.26rem 0.2rem;
  margin-bottom: 0;
}
#myOrder #orderLists .anorder .pp dt {
  font-weight: normal;
}
#myOrder #orderLists .anorder .pp dt,
#myOrder #orderLists .anorder .pp dd {
  line-height: 0.4rem;
}
#myOrder #orderLists .anorder .pp + ul {
  padding: 0.2rem 0.26rem;
}
#myOrder #orderLists .anorder .pp + ul li:nth-child(2) {
  margin: 0 0.04rem;
}
#myOrder #orderLists .anorder > li {
  height: 100%;
}
#myOrder #orderLists .anorder > li:first-child {
  padding: 0.26rem 0.27rem 0.61rem;
}
#myOrder #orderLists .anorder > li:first-child dl > dt {
  margin-bottom: 0.4rem;
}
#myOrder #orderLists .anorder .character {
  width: 1.4rem;
  height: 1.4rem;
}
#myOrder #orderLists .anorder .orderD {
  font-size: 0.24rem;
  color: #13b7f6;
}
#myOrder #orderLists .anorder .orderT {
  font-size: 0.3rem;
}
#myOrder #orderLists .anorder .orderPrice {
  font-size: 0.24rem;
}
#myOrder #orderLists .anorder .orderPrice span {
  color: #ff5230;
  font-size: 0.3rem;
}
#myOrder #orderLists .anorder .orderPrice span b {
  padding-left: 0.16rem;
  font-size: 0.2rem;
  font-weight: normal;
}
#myOrder #orderLists .anorder .orderState {
  font-size: 0.24rem;
  color: #6e6e6e;
}
#myOrder #orderLists .anorder .btn-default {
  color: #13b7f6;
  width: 1.4rem;
  height: 0.6rem;
  padding: 0;
  border-color: #13b7f6;
}
#myOrder #orderLists .anorder .payment,
#myOrder #orderLists .anorder .confirm,
#myOrder #orderLists .anorder .rebook {
  color: #fff;
  background-color: #ff5230;
  border: none;
}
#myOrder #orderLists .anorder .confirm {
  background-color: #90cd32;
}
#myOrder #orderLists .anorder .rebook {
  background-color: #13b7f6;
}
#myOrder #orderLists .anorder .orderTag {
  display: inline-block;
  width: 76px;
  height: 76px;
  background: url(../img/orderTag.png) no-repeat;
  background-size: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}
#myOrder .modalHref {
  display: inline-block;
  width: 2.3rem;
  text-align: center;
  padding: 0.2rem 0;
  color: #007aff;
}
.contact div {
  width: 100%;
}
.contact div a {
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 0.2rem 0;
}
.ngdialog.ngdialog-theme-dadao .ngdialog-content {
  background: #fff;
  padding: 0;
  width: 90%;
}
