<div id="myCart" ng-controller="cartCtrl">
    <h4 class="text-center">购物车</h4>
    <div id="addrMsg">
        <p ng-if="!isExistServeMsg">您当前尚未设置您的服务信息，请点击设置</p>
        <div class="writeMsg" ng-if="isExistServeMsg">
            <ul class="list-inline">
                <li>服务时间:</li>
                <li>2016/5/11 11:00-12:30</li>
            </ul>
            <ul class="list-inline">
                <li>服务对象:</li>
                <li>单月(先生)</li>
            </ul>
            <ul class="list-inline">
                <li>手机号码:</li>
                <li>15889932045</li>
            </ul>
            <ul class="list-inline">
                <li>服务地址:</li>
                <li>越秀区较场西路26号地王广场(英)</li>
            </ul>
        </div>
        <span class="next" ng-click="setMsg()"></span>
    </div>
    <dl class="text-center" id="noChoose" style="display: none">
        <dt><img src="img/null.png" alt=""/></dt>
        <dd>还未选择服务</dd>
        <dd><a href="" style="text-decoration: underline">去选择</a></dd>
    </dl>
    <p class="fwjssex">服务技师性别<span>(系统将根据您的选择推荐最适合您的技师)</span></p>
    <div class="chooseMsg">
        <div class="jishiSex">
            <label class="radio-inline">
                <input type="radio" name="sex" id="man"/>男技师
            </label>
            <label class="radio-inline sexCheck">
                <input type="radio" name="sex" id="nosex" checked="checked"/>不限
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" id="woman"/>女技师
            </label>
        </div>
        <h5>您所选项目将由一位技师为您连续服务</h5>
        <table class="table">
            <tr>
                <td>已选项目</td>
                <td class="text-right"><a class="clearCart">清空购物车</a></td>
            </tr>
            <tr class="chooseProject">
                <td>A套餐:健康足疗</td>
                <td class="text-right">￥88/60分钟x1</td>
            </tr>
            <tr>
                <td>已选择1项 总计: ￥88元</td>
                <td class="text-right"><button type="button" id="pay">立即付款</button></td>
            </tr>
        </table>
    </div>
</div>