<div id="myOrder" class="login" ng-controller="userCtrl">
    <h4 class="text-center">我的订单</h4>
    <p class="text-center">如需查看您的订单，请先登录</p>
    <form name="form" novalidate ng-submit="login(form.$valid)">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入您的手机号" width="100%" ng-model="form.phone" required ng-pattern="/^1[3|4|5|8][0-9]\d{4,8}$/"/>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入验证码" width="100%" ng-model="form.smscode" required />
            <span class="input-group-addon code-bg" ng-click="changeCode()">{{code}}</span>
        </div>
        <h4 class="text-center attention">注:登录并使用静树大师即表示您同意 <br/>静树大师的 <a href="user_xieyi.html" style="color:#13b7f6">《用户协议》</a></h4>
        <input type="submit" class="btn btn-default" id="login" value="登录" ng-disabled="form.$invalid"/>
    </form>


</div>